/* css reset start  */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-transform: none;
    box-sizing: border-box;
    user-select: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

a {
    font-size: 18px;
}

/* css reset end  */

/* html & body start  */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
    overflow-x: hidden;
}

/* html & body end  */

.text-span-color {
    color: #FD5956;
}

/* header start  */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4vw 0;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
}

header .nav-list nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

header .nav-list nav ul li a {
    color: black;
    padding-bottom: 5px;
}

header .nav-list nav ul li a:hover,
header .nav-list nav ul li a.active {
    color: #FD5956;
    border-bottom: 3px solid #FD5956;
}

header .portfolio-button a {
    color: white;
    padding: 10px 20px;
    background-color: black;
}

header .menu-bar {
    display: none;
}

header .fa-bars {
    color: #FD5956;
    cursor: pointer;
    font-size: 20px;
}

header .fa-xmark {
    color: #FD5956;
    cursor: pointer;
    font-size: 27px;
}

header .mobile-bar {
    height: 92vh;
    position: absolute;
    top: 8vh;
    background-color: #fff;
    width: 100%;
    display: none;
    justify-content: center;
    z-index: 2001;
}

header .mobile-bar nav {
    margin-top: 35px;
}

header .mobile-bar nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header .mobile-bar ul li a {
    font-size: 25px;
    color: black;
    padding-bottom: 5px;
}

header .mobile-bar ul li a.active,
header .mobile-bar ul li a:hover {
    color: #FD5956;
    border-bottom: 3px solid #FD5956;
}

/* header end  */

/* progress bar section start  */

.progress {
    height: 5px;
    width: 100%;
    position: fixed;
    top: 8vh;
    z-index: 1000;
}

.highlight {
    transition: width 0.5s linear;
    width: 0%;
    background-color: #FD5956;
    height: 100%;
}

/* progress bar section end  */

/* home section start  */

.home-feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 2vh 4vw;
    background-image: url("../images/home-overlay.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 91vh;
    margin-top: 9vh;
}

.home-feature .left-home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    width: 50%;
}

.home-feature .left-home ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.home-feature .left-home ul li a {
    color: black;
}

.home-feature .left-home ul li a i {
    font-size: 20px;
}

.home-feature .left-home .cv-link a {
    padding: 10px 20px;
    background-color: #FD5956;
    color: white;
}

.home-feature .right-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.home-feature .right-home img {
    width: 70%;
}

/* home section end  */

/* about section start  */

.about-feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8vh 4vw 2vh;
}

.about-feature img {
    width: 50%;
    background-image: url("../images/about-overlay.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* about section end  */

/* services section start  */

.services-feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8vh 4vw 2vh;
}

.services-feature .services-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

.services-feature .services-box .box-feature {
    padding: 15px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* services section end  */

/* contributers section start  */

.contributers-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8vh 4vw 2vh;
    text-align: center;
}

.contributers-feature .contributers-image {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contributers-feature .contributers-image img {
    width: 50%;
}

/* contributers section end  */

/* portfolio section start  */

.portfolio-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8vh 4vw 2vh;
    text-align: center;
}

.portfolio-feature .portfolio-image {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.portfolio-feature .portfolio-image .portfolio-image-left,
.portfolio-feature .portfolio-image .portfolio-image-right {
    width: 50%;
}

.portfolio-feature .portfolio-image .portfolio-image-right {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.portfolio-feature .portfolio-image .portfolio-image-right div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.portfolio-feature .portfolio-image .portfolio-image-left img {
    width: 88%;
}

.portfolio-feature .portfolio-image .portfolio-image-right img {
    width: 50%;
}

/* portfolio section end  */

/* contact section start  */

.contact-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 8vh 4vw 4vh;
    text-align: center;
}

.contact-feature ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contact-feature ul li a {
    color: black;
}

.contact-feature ul li a i {
    font-size: 20px;
}

/* contact section end  */

/* footer start */

footer {
    text-align: center;
}

footer p {
    font-size: 18px;
}

footer p a {
    font-size: 18px;
}

/* footer end */

/* custom scroll bar start  */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #FD5956;
    border-radius: 10px;
    background-clip: content-box;
}

/* custom scroll bar end   */